
@keyframes fade-in {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}
@keyframes ticket-pop {
    from {
        opacity: 0;
        transform: scale(0.9) translateY(20px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
.animate-fade-in {
    animation: fade-in 0.2s ease-out forwards;
}
.animate-ticket-pop {
    animation: ticket-pop 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}